<DOCTYPE html="photos.page.html"
<dl>
<dt>Photos Of Licking Heights Marching Band</dt>
<ol type="1">
<figure>
<img src="images/images.band1.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.band2.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.band3.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.band4.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.band5.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.band6.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.band7.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.band8.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.band9.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.colorguard3.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.colorguard4.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.colorguard5.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.colorguard6.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.colorguard7.jpg" width="250" alt="Band Photo">
</figure>
<figure>
<img src="images/images.colorguard8.jpg" width="250" alt="Band Photo">
</figure>
